<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
 </head>
 <body>
	<h3>Flask Request Example</h3>
	<form action="/formresult" method="post">
	  First name:<br>
	  <input type="text" name="firstname" value="Mickey">
	  <br>
	  Last name:<br>
	  <input type="text" name="lastname" value="Mouse">
	  <br>
	  Email:<br>
	  <input type="text" name="email" value="test@gmail.com">
      <br>
      언어:<br>
      <input type="checkbox" name="lang" value="Java">자바
      <input type="checkbox" name="lang" value="python" checked>python
      <input type="checkbox" name="lang" value="Cpp">C++
      <input type="checkbox" name="lang" value="Cs">C#
	  <br>
	  <input type="submit" value="Submit">
	</form> 
 </body>
</html>
